section.about-participation.pt-100
    .container
        h2.h2(data-aos="fade-up") Очисти свій будинок від пилу та бруду з найкращим пилососом!
        p.subtitle.about-participation__subtitle(data-aos="fade-up") Хочете позбутися неприємних запахів та пилу у своєму будинку? Беріть участь у нашому конкурсі та виграйте найкращий пилосос Дайсон!
        h3.h3(data-aos="fade-up") Для участі вам потрібно:
        ul.conditions-list(data-aos="fade-up")
            li.conditions-item
                .conditions-item-img-wrapp.conditions-item-img-wrapp__orange(data-aos="fade-up")
                    include ../../img/pen.svg
                p.subtitle(data-aos="fade-up") Відповісти на кілька запитань
            li.conditions-item
                .conditions-item-img-wrapp.conditions-item-img-wrapp__blue(data-aos="fade-up")
                    include ../../img/gIft.svg
                p.subtitle(data-aos="fade-up") Відкрити нашу подарункову коробку