section.about-participation.pt-100
    .container
        h2.h2 Очисти свій будинок від пилу та бруду з найкращим пилососом!
        p.subtitle.about-participation__subtitle Хочете позбутися неприємних запахів та пилу у своєму будинку? Беріть участь у нашому конкурсі та виграйте найкращий пилосос Дайсон!
        h3.h3 Для участі вам потрібно:
        ul.conditions-list
            li.conditions-item
                .conditions-item-img-wrapp.conditions-item-img-wrapp__orange
                    include ../../img/pen.svg
                p.subtitle Відповісти на кілька запитань
            li.conditions-item
                .conditions-item-img-wrapp.conditions-item-img-wrapp__blue
                    include ../../img/gIft.svg
                p.subtitle Відкрити нашу подарункову коробку