section.about-participation
    .container
        h2.h2 Очисти свій будинок від пилу та бруду з найкращим пилососом!
        p.subtitle Хотите избавиться от неприятных запахов и пыли в своем доме? Участвуйте в нашем конкурсе и выиграйте лучший пылесос Дайсон!
        h3.h3 Для участі вам потрібно:
        ul.conditions-list
            li.conditions-item
                .conditions-item-img-wrapp
                    include ../../img/pen.svg
                p.subtitle Відповісти на кілька запитань
            li.conditions-item
                .conditions-item-img-wrapp
                    include ../../img/gIft.svg
                p.subtitle Відкрити нашу подарункову коробку