section.header
    .container-x
        .header-text-content
            h1.h1(data-aos="fade-right") Переможи в конкурсі та отримай безкоштовно пилосос Дайсон!
            p.subtitle(data-aos="fade-right" data-aos-anchor=".header-text-content .h1") Залишилось лише кілька днів, щоб брати участь в акції!
        .img-wrapp(data-aos="fade-left")
            include ../../img/vacuum-cleaner.svg