section.header
    .container-x
        .header-text-content
            h1.h1 Переможи в конкурсі та отримай безкоштовно пилосос Дайсон!
            p.subtitle Залишилось лише кілька днів, щоб брати участь в акції!
        .img-wrapp
            include ../../img/vacuum-cleaner.svg