section.box.pt-100
    h2.h2(data-aos="fade-up") Відкрийте свою подарункову коробку:
    .container
        ul.box-list
            li.box-item(data-aos="zoom-in")
                include ../../img/gIft.svg
            li.box-item(data-aos="zoom-in" data-aos-delay="100")
                include ../../img/gIft.svg
            li.box-item(data-aos="zoom-in" data-aos-delay="200")
                include ../../img/gIft.svg
            li.box-item(data-aos="zoom-in" data-aos-delay="300")
                include ../../img/gIft.svg
            li.box-item(data-aos="zoom-in" data-aos-delay="400")
                include ../../img/gIft.svg
            li.box-item(data-aos="zoom-in" data-aos-delay="500")
                include ../../img/gIft.svg
        button#open-box(data-status="false" data-click="0" data-aos="fade-up")
            span.open-box-title Відкрити коробку
            include ../../img/blot-red.svg
        span.remainder Залишилось спроб: <strong>0</strong>