section.box
    .container
        ul.box-list
            li.box-item
                include ../../img/gIft.svg
            li.box-item
                include ../../img/gIft.svg
            li.box-item
                include ../../img/gIft.svg
            li.box-item
                include ../../img/gIft.svg
            li.box-item
                include ../../img/gIft.svg
            li.box-item
                include ../../img/gIft.svg
        button#open-box Відкрити коробку
        span.remainder