section.questions
    .container
        h2.h2 Дайте відповідь на три простих питання:
        form.form
            .form-group
                label(for='question1') Ваше имя:
                input#question1(type='text' name='name' required)
            .form-group
                input#question2(type='email' name='email' required)
                label(for='question2') Ваш e-mail:
            .form-group
                label(for='question3') Як часто ви прибираєтеся вдома?
                select#question3(name='cleaning-frequency' required)
                    option(value='1') Раз в день
                    option(value='2') Раз на тиждень
                    option(value='3') Рідше ніж один раз на тиждень
            button(type='submit') Відправити