doctype html
html(lang="uk")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(href='https://unpkg.com/aos@2.3.1/dist/aos.css' rel='stylesheet')
        link(rel='preconnect' href='https://fonts.googleapis.com')
        link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
        link(href='https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900&display=swap' rel='stylesheet')
        link(rel="stylesheet", href="./css/main.css")
        title Розіграш пилососу Dyson
    body
        include ./html/module/header.pug
        include ./html/module/about-participation.pug
        include ./html/module/questions.pug
        include ./html/module/open-box.pug
        script(src='https://unpkg.com/aos@2.3.1/dist/aos.js')
        script(src="./js/main.js" type="module")