@import '../utils/main.utils';
.header {
    height: 600px;
    background: url('../../img/bg-header.svg') no-repeat;
    background-size: cover;
    @include flex(row,
    center,
    center);
    .container-x {
        @include flex(row,
        space-between,
        center);
    }
}

.header-text-content {
    .h1 {
        margin-bottom: 25px;
        max-width: 617px;
    }
    .subtitle {
        color: rgba(255, 255, 255, 0.79);
    }
}

@media (max-width:1100px) {
    .header {
        .container-x {
            @include flex(column,
            null,
            center);
            .img-wrapp {
                svg {
                    height: 200px;
                }
            }
        }
    }
    .header-text-content {
        margin-bottom: 40px;
        .h1,
        .subtitle {
            text-align: center;
        }
        .h1 {
            margin-bottom: 15px;
        }
    }
}